shellcomp
obj/build_opts/build_opts.c
obj/build_opts/build_opts_pub.c
abc
.*.sw?
# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
